@media screen and ( max-width: 1300px ) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    .hero {
        &-content {
            padding-left: 0;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
            padding: 0;
        }
        &-btn {
            text-align: center;
        }
    }

    .projects {
        padding: 95px 0 311px;
        &-title {
            display: none;
        }
        &-wrapper {
            text-align: center;
            grid-template-rows: none;
        }
        &-head {
            grid-column: 1/3;
            padding-bottom: 45px;
            width: 78%;
            justify-self: center;
        }
        &-description {
            margin-right: 0;
            grid-column: 1/3;
        }
        &-arrows {
            grid-column: 1/3;
            margin: 28px 0;
            display: flex;
            justify-content: center;
        }
        &-images {
            grid-column: 1/3;
            grid-row: 2/3;
        }
    }

    .online {
        &-content {
            margin-top: 91px;
        }
        &-video {
            &__image {
                width: 78%;
                margin-bottom: 25px;
            }
        }
    }
    
    .line__long {
        margin-bottom: 25px;
    }

    .form {
        width: 610px;
        margin-top: 55px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        &-item {
            margin: 0 10px 40px 10px;
        }
        &__submit {
            grid-column: 1/3;
            margin: 0 97px;
        }
        &-label {
            grid-column: 1/3;
            margin-bottom: 22px;
        }
    }

    .types {
        &-wrapper {
            flex-direction: column;
            align-items: center;
            margin-bottom: 115px;
        }
        &-item {
            margin-bottom: 48px;
        }
    }

    .request {
        background-size: 117%;
        background-position: top;
        &-list {
            margin-bottom: 42px;
        }
        &-content {
            display: flex;
            flex-direction: column;
        }
        &-callback {
            align-self: flex-end;
        }
        &-form {
            width: 408px;
            &__label {
                text-align: center;
            }
        }
        &-note {
            align-self: flex-end;
            text-align: right;
            margin-right: 95px;
        }
    }

    .examples {
        &-content {
            padding-top: 63px;
        }
        &-wrapper {
            &__title {
                font-size: 24px;
                margin-top: 0;
            }
            &__list {
                font-size: 17px;
            }
        }
        &-images {
            grid-gap: 1em;
            &__item-one {
                width: 50%;
                margin-top: 88px;
            }
            &__item-two {
                margin-top: -14px;
            }
            &__item-four {
                margin-top: -288px;
            }
        }
        &__img {
            width: 100%;
        }
    }

    .feedback {
        padding: 218px 0 220px;
        &-wrapper {
            flex-direction: column;
            align-items: center;
            &__item {
                width: 612px;
            }
        }
    }

    .contact {
        &-callback {
            width: 692px;
        }
        &-form {
            grid-template-rows: repeat(4, 1fr);
            &__submit {
                margin: 0 auto;
            }
        }
        &-map {
            width: 688px;
        }
    }
}


@media screen and ( max-width: 768px ) {

    h2 {
        font-size: 22px;
    }

    .container {
        max-width: 340px;
    }

    .header {
        &__callback {
            display: none;
        }
    }

    .hero {
        height: auto;
        &-content {
            padding-top: 85px;
        }
        &__title {
            font-size: 23px;
        }
        &__text {
            font-size: 14px;
        }
        &__button {
            width: 100%;
        }
        &-btn {
            &__cost {
                margin: 32px 0 26px;
            }
            &__submit {
                margin: 0 0 61px;
            }
        }
    }

    .projects {
        padding-top: 36px;
        &-head {
            width: 100%;
            &__text {
                font-size: 11px;
                line-height: 17px;
            }
        }
        &-description {
            margin-top: 36px;
            text-align: left;
            &__item {
                &-title {
                    font-size: 14px;
                }
                &-text {
                    font-size: 11px;
                }
            }
        }
        &-arrows {
            display: none;
        }
        &-images {
            &__example {
                width: 100%;
            }
        }
    }
    
    .mobile-arrows {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 92%;
        left: 4%;
        top: 42%;
        &__examples {
            top: 60%;
        }
    }

    .online {
        background-color: $background;
        &__title {
            font-size: 22px;
        }
        &-video {
            &__image {
                width: 100%;
            }
            &__play {
                width: 23%;
            }
        }
        &__text {
            width: 100%;
            font-size: 11px;
            line-height: 19px;
            color: $white;
        }
    }

    .form {
        width: 100%;
        margin-top: 0;
        &-item {
            grid-column: 1/3;
            margin: 63px 0 0 0;
            &__title {
                color: rgba(255, 255, 255, 0.5);
            }
            &__input {
                background-color: $background;
                width: 100%;
            }
        }
        &-label {
            grid-row: 3/4;
            align-self: center;
            color: $white;
        }
        &__submit {
            margin: 0 0 -25px;
        }
    }

    .types {
        &-wrapper {
            margin-bottom: 0;
        }
        &__title {
            font-size: 22px;
        }
        &-item {
            width: 100%;
        }
        &-description {
            margin-left: 0;
        }
    }

    .request {
        display: none;
    }

    .examples {
        background-color: $white;
        background-image: none;
        height: 220px;
        &-content {
            padding-top: 0;
        }
        &-img__hidden {
            display: block;
            margin-top: 24px;
        }
        &-wrapper {
            padding-top: 15px;
            &__title {
                display: block;
                text-align: center;
                width: 88%;
                margin: 0 auto;
                &-wrapping {
                    display: none;
                }
            }
            &__list {
                display: none;
            }
        }
        &-images {
            display: none;
        }
        &-overlay {
            display: none;
        }
    }

    .feedback {
        display: none;
    }

    .contact {
        background-color: $background;
        background-image: none;
        padding-top: 173px;
        height: auto;
        &-callback {
            width: 100%;
            margin: 0 0 69px;
            padding-top: 0;
            background-color: $background;
            &__title {
                margin-bottom: 0;
            }
        }
        &-form {
            &__item:nth-child(3) {
                grid-row: 3/4;
            }
            &__label {
                grid-row: 4/5;
                justify-self: start;
            }
            &__submit {
                width: 100%;
            }
        }
        &-wrapper {
            display: flex;
            flex-direction: column-reverse;
        }
        &-data {
            margin: 0 15px 49px;
            &__text {
                font-size: 18px;
                &-wrapping {
                    display: none;
                }
            }
        }
        &-map {
            width: 340px;
            height: 255px;
            &__item {
                width: 100%;
                height: 100%;
            }
        }
        &-overlay {
            display: none;
        }
    }

    .footer {
        display: none;
    }
}
